src/main/mule/chatproject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="helloWorldFlow" doc:id="651d6bc9-a3aa-4b4e-8b6d-f2c5ed46383f" >
        <http:listener doc:name="Listener" doc:id="90204294-f04d-4321-b196-107443b9a3cd" config-ref="HTTP_Listener_config" path="/hello"/>
        <logger level="INFO" doc:name="Logger" doc:id="31bf6551-3333-45f7-8912-ae3168f5ac89" />
		<ee:transform doc:name="Transform Message" doc:id="b7106c57-d08e-4948-9b9f-77ca6edf30bf" >
            <ee:message >
                <ee:set-payload ><![CDATA[output application/json --- { message: 'Hello, World!' }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="4b06c5bc-a2bf-402a-96fb-1c54d8bde152" message="#[payload]" />
    </flow>
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb3286a3-a62d-4780-8799-f60e3abdfd04" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
</mule>